.auth-page {
  background-color: var(--background-color);
}

.b-sign-in.container {
  max-width: 400px;
  text-align: center;
}

.b-sign-in__logo {
  width: 100%;
  max-width: 370px;
  margin-top: 30px;
  margin-bottom: var(--average-margin);
}

.b-sign-in .b-sign-in__form {
  background-color: #ffffff;
  width: 100%;
}

.b-sign-in .b-sign-in__input {
  display: block;
  margin-bottom: var(--average-margin);
}

.b-sign-in .b-sign-in__input .MuiInputBase-root {
  width: 100%;
}

.b-sign-in .b-sign-in__submit-btn {
  width: 100%;
  margin-top: var(--common-margin);
}